.head {
  flex: 1;
  justify-content: center;
  text-align: center;
}

.wave {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 100%;
  z-index: -1;
}

.container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 7rem;
  padding: 0 2rem;
}

.img {
  margin-top: 10vh;
  height: 69vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
